name: Rolling Release build

on:
  push:
    branches:
      - 61-cd-workflow-to-release-a-binary-of-the-project

jobs:
  build:
    name: Build Linux binary
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install GHC & Stack
        uses: haskell-actions/setup@v2
        with:
          enable-stack: true
          system-ghc: true
          stack-version: 2.15.9
          ghc-version: 9.10.2

      - name: Cache Stack
        uses: actions/cache@v4
        with:
          path: |
            ~/.stack
            .stack-work
          key: linux-stack-${{ hashFiles('stack.yaml', '**/*.cabal') }}
          restore-keys: |
            linux-stack-

      - name: Pre-install GHC and dependencies
        shell: bash
        run: |
          stack --resolver lts-24.19 setup --install-ghc
          stack --resolver lts-24.19 build --only-dependencies

      - name: Build with Makefile
        shell: bash
        run: |
          make -j
          mkdir -p output
          cp glados output/glados-linux
          cp rune output/rune-linux

      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: binary-linux
          path: output/*

  release:
    name: Create/Update Rolling Release
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download Linux binary artifact
        uses: actions/download-artifact@v4
        with:
          path: release

      - name: Create/Update GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Rolling Release
          files: release/*
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
