name: Rolling Release Build

on:
  push:
    branches:
      - 61-cd-workflow-to-release-a-binary-of-the-project

jobs:
  release:
    name: Build and Release Binaries
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install system GHC
        uses: haskell-actions/setup@v2
        with:
          enable-stack: true
          system-ghc: true
          stack-version: latest
          ghc-version: latest

      - name: Cache Stack
        uses: actions/cache@v4
        with:
          path: |
            ~/.stack
            .stack-work
          key: ${{ runner.os }}-stack-${{ hashFiles('stack.yaml', '**/*.cabal') }}
          restore-keys: |
            ${{ runner.os }}-stack-

      - name: Build binaries
        run: |
          make
          mkdir -p output
          cp glados output/glados-linux
          cp rune output/rune-linux

      - name: Upload binaries
        uses: actions/upload-artifact@v4
        with:
          name: binaries
          path: output/*

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Rolling Release
          files: output/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
